<div  class='d-flex justify-content-between p-2 py-5 my-3 border bg-white'>
    <div>
    <img 
    class="icon" 
    style="width:50px"
    src=<%= catagory.icon %>
    alt="face" />
    </div>
    <div class="flex-grow-1 px-2">
        <h2><%= catagory.name%></h2>
        <span><%= catagory.created_at %></span>
    </div>
    <div>
        <span>
            <%= total %> $  
        </span>
    </div>
</div>